{% extends "base.html.twig" %}

{#on écrase le bloc titre#}
{% block title%}
    Ajouter un produit
{% endblock%}

{# On écrase le bloc body #}
{% block body %}

    <h1>Ajouter un produit</h1>

{% endblock %}