

{% extends "base.html.twig" %}

{#on écrase le bloc titre#}
{% block title%}
    Liste des produits
{% endblock%}

{# On écrase le bloc body #}
{% block body %}

   <h1>Liste des produits</h1>

{% endblock %}